.input {
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius:10px;
    margin-left: 40px;
}
.login-signup-form {
  background-image: url('public/images/login-image.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 20px; /* Adjust margin as needed */
}
.project-title {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #357a13; /* Change color to your preference */
  text-align: left;
  margin-top: -410px; /* Adjust margin as needed */
  margin-left: 150px;
}
.logo {
  width: 300px; /* Set the width of the logo */
  height: auto; /* Maintain aspect ratio */
}
.form {
  margin-left: 400px;
  background: #f5f9fb;
}

.input1 {
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius:10px;
    margin-left: 37px;
}
.input2 {
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius:10px;
    margin-left: 40px;
}
.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .input-group label {
    margin-right: 10px;
  }
  .btn-login {
    font-family: "Roboto", sans-serif;
    outline: 0;
    border: 0;
    background: #1a582a;
    text-decoration: none;
    padding: 10px;
    margin-left: 150px;
    color: #FFFFFF;
    font-size: 16px;
    width:200px;
    border-radius: 15px;
    /* -webkit-transition: all 0.3 ease; */
    /* transition: all 0.3 ease; */
    cursor: pointer;
}