.clicked {
    color: red;
  }
  label {
    display: inline-block;
    width: 150px;
    text-align: left;
  }
  .input-plan{
    align-items: "right";
}
.greenPercentage {
  color: green;
}
.text-input{
  
}
.select-options:hover {
  background: #f9f9f9;
}